<section class="todoapp">
  <header class="header">
    <h1>Your Lists</h1>
      <%= form_for(@list) do |f| %>
        <%= f.text_field :name, class: "new-todo", autofocus: true, placeholder: @list.errors.full_messages_for(:name).first || "Enter a new list name..."   %></br>
        <%= f.submit :style => "display: none" %>
      <% end %>
  </header>

  <section class="main">
    <ul class="todo-list">
      <% @lists.each do |list| %>
      <li>
        <div class="view">
            <label><%= link_to list.name, list_path(list) %></label>
        </div>
      </li>
      <% end %>
    </ul>
  </section>

  <footer class="footer">
    <ul class="filters">
      <li><%= link_to "signup", signup_path %></li>
      <li><%= link_to "logout", logout_path %></li>
    </ul>
  </footer>
</section>

<footer class="info">
  <h3>You are currently logged in as <%= current_user.name unless !logged_in? %></h3>
</footer>
